.headshot {
  max-width: 450px;
  object-fit: contain;
  filter: saturate(0);
  transition: filter .2s ease;
  &:hover {
    filter: saturate(1);
  }
}

$devBorder: 0px;

.intro {
  display: flex;
  flex-direction: column;
  column-gap: 20px;
  row-gap: 20px;
  border: $devBorder solid green;
  max-width: 1000px;
  div {
    width: 80%;
  }
  img {
    width: 70%;
    min-width: 200px;
  }
  @media (min-width: 510px) {
    flex-direction: row;
    img {
      width: 20%;
    }
  }
}
