.title {
  display: flex;
  flex-direction: column;
}

.links {
  display: flex;
  column-gap: 8px;
  margin: 16px 0px;
}

.icons {
  display: flex;
  margin: 10px 0px;
  margin-bottom: 15px;
  font-size: 40px;
}

.intro {
  width: 100%;
  // border: 1px dashed red;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  column-gap: 30px;
  .text {
    width: 100%;

    .top {
      display: flex;
      flex-direction: column;
      column-gap: 20px;
      img {
        margin-bottom: 20px;
        @media (max-width: 750px) {
        order: 2;
        width: 300px;
        }
      }
      @media (min-width: 750px) {
        flex-direction: row;
      }
    }
  }
  img {
    flex-grow: 1;
    object-fit: contain;
  }
  @media (min-width: 875px) {
    flex-direction: row;
    .text {
      h1 {
        font-size: 3rem;
      }
      h2 {
        font-size: 1.17em;
      }
    }
  }
  margin-bottom: 10px;
}

.headshot {
  margin-left: 2px;
  border: 2px solid #FFFFFF;
  height: auto;
  aspect-ratio: 1;
  object-fit: contain;
  filter: saturate(0);
  transition: filter .2s ease;
  &:hover {
    filter: saturate(1);
  }

  &.right {
    max-width: 330px;
    flex-grow: 1;
    display: none;
    @media (min-width: 1500px) {
      display: block;
    }
  }

  &.inline {
    max-width: 310px;
    width: 150px;
    @media (min-width: 875px) {
      width: 200px;
    }
    @media (min-width: 1500px) {
      display: none;
    }
  }
}
