@import '../../styles/utilities.scss';

.input {
  @include boxResets;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  max-width: 1000px;
  height: 50px;
  font-size: 30px;
  resize: none;
  height: fit-content;
  color: rgb(81, 226, 81);
}
