@mixin responsive {
  // border: 2px dotted blue;
  width: 95%;
  @media (min-width: 600px) {
    width: 80%;
  }
  @media (min-width: 1000px) {
    width: 75%;
  }
  margin: 0 auto;
}

.r-container {
  @include responsive;
}

@mixin boxResets {
  margin: 0;
  border: none;
  outline: none;
  background: none;
}

$greenSeperationAnim: 250ms linear 0s infinite alternate running greenSeperation;
$blueSeperationAnim: 250ms linear 0s infinite alternate running cyanSeperation;
$cyanSeperationAnim: 250ms linear 0s infinite alternate running blueSeperation;
$whiteSeperationAnim: 250ms linear 0s infinite alternate running whiteSeperation;
$orangeSeperationAnim: 250ms linear 0s infinite alternate running orangeSeperation;
$orangeSeperationSvgAnim: 250ms linear 0s infinite alternate running orangeSeperationSvg;

$greenBoxSeperationAnim: 250ms linear 0s infinite alternate running greenBoxSeperation;

@keyframes orangeSeperation {
  0% {
    text-shadow: 0px 0px 3px rgba($color: $hacker-orange, $alpha: 0.5);
  }

  33% {
    text-shadow: 1px 0px 3px rgba($color: $hacker-orange, $alpha: 0.5);
  }

  66% {
    text-shadow: 0px 0px 3px rgba($color: $hacker-orange, $alpha: 0.5);
  }

  100% {
    text-shadow: -1px 0px 3px rgba($color: $hacker-orange, $alpha: 0.5);
  }
}

@keyframes orangeSeperationSvg {
  0% {
    filter: drop-shadow(0px 0px 3px rgba($color: $hacker-orange, $alpha: 0.5));
  }

  33% {
    filter: drop-shadow(1px 0px 3px rgba($color: $hacker-orange, $alpha: 0.5));
  }

  66% {
    filter: drop-shadow(0px 0px 3px rgba($color: $hacker-orange, $alpha: 0.5));
  }

  100% {
    filter: drop-shadow(-1px 0px 3px rgba($color: $hacker-orange, $alpha: 0.5));
  }
}

@keyframes whiteSeperation {
  0% {
    text-shadow: 0px 0px 3px rgba($color: $foreground-white, $alpha: 0.5);
  }

  33% {
    text-shadow: 1px 0px 3px rgba($color: $foreground-white, $alpha: 0.5);
  }

  66% {
    text-shadow: 0px 0px 3px rgba($color: $foreground-white, $alpha: 0.5);
  }

  100% {
    text-shadow: -1px 0px 3px rgba($color: $foreground-white, $alpha: 0.5);
  }
}

@keyframes greenSeperation {
  0% {
    text-shadow: 0px 0px 3px rgba($color: $hacker-green, $alpha: 0.5);
  }

  33% {
    text-shadow: 1px 0px 3px rgba($color: $hacker-green, $alpha: 0.5);
  }

  66% {
    text-shadow: 0px 0px 3px rgba($color: $hacker-green, $alpha: 0.5);
  }

  100% {
    text-shadow: -1px 0px 3px rgba($color: $hacker-green, $alpha: 0.5);
  }
}

@keyframes greenBoxSeperation {
  0% {
    box-shadow: 0px 0px 3px 0px rgba($color: $hacker-green, $alpha: 0.5);
  }

  33% {
    box-shadow: 1px 0px 3px 0px rgba($color: $hacker-green, $alpha: 0.5);
  }

  66% {
    box-shadow: 0px 0px 3px 0px rgba($color: $hacker-green, $alpha: 0.5);
  }

  100% {
    box-shadow: -1px 0px 3px 0px rgba($color: $hacker-green, $alpha: 0.5);
  }
}

@keyframes cyanSeperation {
  0% {
    text-shadow: 0px 0px 3px rgba($color: $hacker-cyan, $alpha: 0.5);
  }

  33% {
    text-shadow: 1px 0px 3px rgba($color: $hacker-cyan, $alpha: 0.5);
  }

  66% {
    text-shadow: 0px 0px 3px rgba($color: $hacker-cyan, $alpha: 0.5);
  }

  100% {
    text-shadow: -1px 0px 3px rgba($color: $hacker-cyan, $alpha: 0.5);
  }
}

@keyframes blueSeperation {
  0% {
    text-shadow: 0px 0px 3px rgba($color: $hacker-blue, $alpha: 0.5);
  }

  33% {
    text-shadow: 1px 0px 3px rgba($color: $hacker-blue, $alpha: 0.5);
  }

  66% {
    text-shadow: 0px 0px 3px rgba($color: $hacker-blue, $alpha: 0.5);
  }

  100% {
    text-shadow: -1px 0px 3px rgba($color: $hacker-blue, $alpha: 0.5);
  }
}
